extends layout

block content
	h3 Account Page
	.row
		.span3
			p Change Password
			form(action='/account/changepassword', method='post')
				input(type='password', placeholder='Old Password', name='password')
				br
				input(type='password', placeholder='New Password', name='newPass')
				br
				input(type='password', placeholder='Confirm Password', name='passcheck')
				br
				input(type='submit',value='Change')
		.span4
			form(action='/account/updatesysinfo', method='post')
				table.table
					thead
						tr
							td System Settings
					tbody
						tr
							td Hostname
							td
								input(type='text', value='#{sysinfo.hostname}', name='hostname')
						tr
							td
							td
								input(type='submit', value='Save', style='float:right')
						