!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/bootstrap-responsive.min.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/javascripts/bootstrap.min.js')
body
.navbar.navbar-fixed-top
    .navbar-inner
        .container
            button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.brand(href='#')= title
            .nav-collapse.collapse
                p.navbar-text.pull-right
                    | Logged in as #{account}
                ul.nav
                    li.active
                        a(href='#') Home
                    li
                        a(href='#createLecture', data-toggle='modal', data-target='#createLecture') Create Lecture
                    li
                        a(href='/logout') Logout

#createLecture.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    form(action='/create', method='get')
        .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h3#myModalLabel Create a new Lecture
          .modal-body
            input(type='text',placeholder='Lecture Name',name='name')
          .modal-footer
            button.btn(data-dismiss='modal', aria-hidden='true') Close
            input(type='submit', value='Create').btn.btn-primary

.container
    block content