body {
	padding-top: 60px;
}

a {
  	color: #00B7FF;
}

.hero-unit.dash {
	margin-top: 0px;
	padding: 20px;
}

.create-lecture-form {
	width: 500px;
}
.create-lecture-textarea {
	width: 500px;
	height: 100px;
}

.create-lecture-radio {
	float: left;
	padding: 5px;
}

.search-box {
	margin-top: 7px;
	padding-left: 7px;
	width: 290px;
}

.search-typeahead {
  z-index: -100;
  margin-top: 9px;
  width: 300px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

i.status {
	margin-left: 20px;
	margin-top: 17px;
}

.status {
	padding-left: 10px;
	font-size: .6em;
}